<tr id="<%= dom_id point %>" class='hover'>
  <td>
    <%= check_box_tag "point_ids[]",
      point.id,
      nil,
      {
        multiple: true,
        form: :bulk_destroy_form,
        data: {
          checkbox_select_all_target: 'child',
          action: 'change->checkbox-select-all#toggleParent'
        }
      }
    %>
  </td>
  <td class='<%= speed_text_color(point.velocity) %>'><%= point_speed(point.velocity) %></td>
  <td><%= human_datetime_with_seconds(point.recorded_at) %></td>
  <td><%= point.lat %>, <%= point.lon %></td>
  <td></td>
</tr>
