<div class="hero min-h-content bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse w-full my-10">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Register now!</h1>
      <p class="py-6">and take control over your location data.</p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100 px-5 py-5">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-body ') do |f| %>
        <div class="form-control">
          <%= f.label :email, class: 'label' do %>
            <span class="label-text">Email</span>
          <% end %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input input-bordered' %>
        </div>

        <div class="form-control">
          <%= f.label :password, class: 'label' do %>
            <span class="label-text">Password</span>
          <% end %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'input input-bordered' %>
        </div>

        <div class="form-control">
          <%= f.label :password_confirmation, class: 'label' do %>
            <span class="label-text">Password</span>
          <% end %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input input-bordered' %>
        </div>

        <div class="form-control mt-6">
          <%= f.submit "Sign up", class: 'btn btn-primary' %>
        </div>

        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
