<div role="<%= notification.kind %>" class="<%= notification.kind %> shadow-lg p-5 flex justify-between items-center mb-4 rounded-lg bg-neutral" id="<%= dom_id notification %>">
  <div class="flex-1">
    <h3 class="font-bold text-xl">
      <%= link_to notification.title, notification, class: 'link hover:no-underline text-blue-600' %>
    </h3>
    <div class="text-sm text-gray-500"><%= time_ago_in_words notification.created_at %> ago</div>

    <% if params[:action] == 'show' %>
      <div class="mt-2">
        <%= notification.content %>
      </div>
    <% end %>
  </div>
  <div class="badge badge-<%= notification.kind %> gap-2">
  </div>
</div>
