<% content_for :title, "Notifications" %>
<div class="w-full my-5">
  <%= render layout: 'shared/page_header', locals: { title: 'Notifications' } do %>
    <% if @notifications.unread.any? %>
      <%= link_to "Mark all as read", mark_notifications_as_read_path, data: { turbo_method: :post }, class: "btn btn-sm btn-primary" %>
    <% end %>
    <% if @notifications.any? %>
      <%= link_to "Delete all", delete_all_notifications_path, data: { turbo_method: :post, turbo_confirm: 'Are you sure you want to delete all notifications?' }, class: "btn btn-sm btn-warning" %>
    <% end %>
  <% end %>
  <div class="flex justify-center mb-4">
    <%= paginate @notifications %>
  </div>
  <div id="notifications" class="w-full max-w-2xl mx-auto">
    <% @notifications.each do |notification| %>
      <%= render notification %>
    <% end %>
  </div>
</div>
