<div class="navbar bg-base-300">
  <div class="flex-1">
    <%= link_to 'SoloCustomerTemplate', root_path, class: 'btn btn-ghost normal-case text-xl'%>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0">
      <li><%= link_to 'Link0', '#' %></li>
      <% if user_signed_in? %>
        <li tabindex="0">
          <a>
            <%= "#{current_user.email}" %>
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul class="p-2 bg-base-300">
            <li><%= link_to 'Link1', '#' %></li>
            <li><%= link_to 'Settings', edit_user_registration_path %></li>
            <li><%= button_to 'Logout', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <li><%= link_to 'Register', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div>
