<%= "#{@distance} km" if @distance %>

<% if REVERSE_GEOCODING_ENABLED && @countries_and_cities&.any? %>
  <% @countries_and_cities.each do |country| %>
    <h2 class="text-lg font-semibold mt-5">
      <%= country[:country] %> (<%= country[:cities].count %> cities)
    </h2>
    <ul>
      <% country[:cities].each do |city| %>
        <li><%= city[:city] %> (<%= Time.at(city[:timestamp]).strftime("%d.%m.%Y") %>)</li>
      <% end %>
    </ul>
  <% end %>
<% end %>
