<div id="<%= dom_id import %>">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Imported points</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= link_to import.name, import, class: 'underline hover:no-underline' %> (<%= import.source %>)
        </td>
        <td>
          <%= "#{number_with_delimiter import.points.size}" %>
        </td>
        <td><%= human_datetime(import.created_at) %></td>
      </tr>
    </tbody>
  </table>

  <% if action_name != "show" %>
    <%= link_to "Show this import", import, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this import", edit_import_path(import), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
