<tr data-import-id="<%= import.id %>"
    id="<%= dom_id(import) %>"
    data-points-total="<%= import.processed %>"
    class="hover">
  <td>
    <%= link_to import.name, import, class: 'underline hover:no-underline' %>
    (<%= import.source %>)
    &nbsp;
    <%= link_to 'ðŸ—ºï¸', map_path(import_id: import.id) %>
    &nbsp;
    <%= link_to 'ðŸ“‹', points_path(import_id: import.id) %>
  </td>
  <td><%= number_to_human_size(import.file&.byte_size) || 'N/A' %></td>
  <td data-points-count>
    <%= number_with_delimiter import.processed %>
  </td>
  <td data-status-display><%= import.status %></td>
  <td><%= human_datetime(import.created_at) %></td>
  <td class="whitespace-nowrap">
    <% if import.deleting? %>
      <span class="loading loading-spinner loading-sm"></span>
      <span class="text-sm text-gray-500">Deleting...</span>
    <% else %>
      <% if import.file.present? %>
        <%= link_to 'Download', rails_blob_path(import.file, disposition: 'attachment'), class: "btn btn-outline btn-sm btn-info", download: import.name %>
      <% end %>
      <%= link_to 'Delete', import, data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, method: :delete, class: "btn btn-outline btn-sm btn-error" %>
    <% end %>
  </td>
</tr>
