<%= turbo_stream.replace "import-#{@import.id}" do %>
  <tr data-import-id="<%= @import.id %>"
      id="import-<%= @import.id %>"
      data-points-total="<%= @import.processed %>"
      class="hover">
    <td>
      <%= @import.name %> (<%= @import.source %>)
      &nbsp;
      <%= link_to 'ðŸ—ºï¸', map_path(import_id: @import.id) %>
      &nbsp;
      <%= link_to 'ðŸ“‹', points_path(import_id: @import.id) %>
    </td>
    <td><%= number_to_human_size(@import.file&.byte_size) || 'N/A' %></td>
    <td data-points-count>
      <%= number_with_delimiter @import.processed %>
    </td>
    <td data-status-display>deleting</td>
    <td><%= human_datetime(@import.created_at) %></td>
    <td class="whitespace-nowrap">
      <span class="loading loading-spinner loading-sm"></span>
      <span class="text-sm text-gray-500">Deleting...</span>
    </td>
  </tr>
<% end %>
