<% content_for :title, 'Imports' %>

<div class="w-full">
  <div class="flex justify-between items-center mb-3">
    <h1 class="font-bold text-4xl">Imports</h1>
    <%= link_to "New import", new_import_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>

    <% if current_user.settings['immich_url'] && current_user.settings['immich_api_key'] %>
      <%= link_to 'Import Immich data', settings_background_jobs_path(job_name: 'start_immich_import'), method: :post, data: { confirm: 'Are you sure?', turbo_confirm: 'Are you sure?', turbo_method: :post }, class: 'rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium' %>
    <% else %>
      <a href='' class="rounded-lg py-3 px-5 bg-blue-900 text-gray block font-medium tooltip cursor-not-allowed" data-tip="You need to provide your Immich instance data in the Settings">Import Immich data</a>
    <% end %>
  </div>

  <div id="imports" class="min-w-full">
    <% if @imports.empty? %>
      <div class="hero min-h-80 bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Hello there!</h1>
            <p class="py-6">
              Here you'll find your imports, but now there are none. Let's <%= link_to 'create one', new_import_path, class: 'link' %>!
            </p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="flex justify-center my-5">
        <div class='flex'>
          <%= paginate @imports %>
        </div>
      </div>
      <div class="overflow-x-auto">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Imported points</th>
              <th>Created at</th>
            </tr>
          </thead>
          <tbody>
            <% @imports.each do |import| %>
              <tr>
                <td>
                  <%= link_to import.name, import, class: 'underline hover:no-underline' %> (<%= import.source %>)
                </td>
                <td>
                  <%= "#{number_with_delimiter import.points.size}" %>
                </td>
                <td><%= import.created_at.strftime("%d.%m.%Y, %H:%M") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
