<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Imports</h1>
    <%= link_to "New import", new_import_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="imports" class="min-w-full">
    <div class="overflow-x-auto">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th>Name</th>
            <th>Raw points</th>
            <th>Points created</th>
            <th>Doubles</th>
            <th>Created at</th>
          </tr>
        </thead>
        <tbody>
          <% @imports.each do |import| %>
            <tr>
              <td>
                <%= link_to import.name, import, class: 'underline hover:no-underline' %> (<%= import.source %>)
              </td>
              <td><%= import.raw_points %></td>
              <td><%= import.doubles %></td>
              <td><%= import.points.count %></td>
              <td><%= import.created_at.strftime("%d.%m.%Y, %H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
