<%= render 'shared/chartkick_scripts' %>

<% insights_cache_key = [current_user.id, "insights", @selected_year, @year_stats&.maximum(:updated_at), current_user.safe_settings.distance_unit] %>

<%= turbo_frame_tag "insights_details" do %>
  <!-- Two Column Layout -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-6">
    <!-- Left Column -->
    <div class="space-y-6">
      <% cache insights_cache_key + ["year_comparison"], expires_in: 24.hours do %>
        <%= render 'year_comparison' %>
      <% end %>
      <% cache insights_cache_key + ["activity_breakdown"], expires_in: 24.hours do %>
        <%= render 'activity_breakdown' %>
      <% end %>
      <% cache insights_cache_key + ["location_clusters"], expires_in: 24.hours do %>
        <%= render 'location_clusters' %>
      <% end %>
    </div>

    <!-- Right Column -->
    <div class="space-y-6">
      <% cache insights_cache_key + ["monthly_digest", @selected_month], expires_in: 24.hours do %>
        <%= render 'monthly_digest' %>
      <% end %>
      <% cache insights_cache_key + ["travel_patterns"], expires_in: 24.hours do %>
        <%= render 'travel_patterns' %>
      <% end %>
    </div>
  </div>

  <% cache insights_cache_key + ["movement_wellness"], expires_in: 24.hours do %>
    <%= render 'movement_wellness' %>
  <% end %>
<% end %>
