<% content_for :title, 'Map' %>
<% use_maplibre = params[:maplibre] == 'true' || session[:use_maplibre] == true %>

<!-- Floating Date Navigation Controls -->
<div class="fixed top-20 left-0 right-0 flex justify-center" style="z-index: 9999; margin-left: 80px; margin-right: 80px;">
  <div style="width: 1500px; max-width: 100%;" data-controller="map-controls">
  <!-- Mobile: Compact Toggle Button -->
  <div class="lg:hidden justify-center flex">
    <button
      type="button"
      data-action="click->map-controls#toggle"
      class="btn btn-primary w-96 shadow-lg">
      <span data-map-controls-target="toggleIcon">
        <%= icon 'chevron-down' %>
      </span>
      <span class="ml-2"><%= human_date(@start_at) %></span>
    </button>
  </div>

  <!-- Expandable Panel (hidden on mobile by default, always visible on desktop) -->
  <div
    data-map-controls-target="panel"
    class="hidden lg:!block bg-base-100 bg-opacity-95 rounded-lg shadow-lg p-4 mt-2 lg:mt-0 scale-80">
    <%= form_with url: map_path(import_id: params[:import_id]), method: :get do |f| %>
      <div class="flex flex-col space-y-4 lg:flex-row lg:space-y-0 lg:space-x-4 lg:items-end">
        <div class="w-full lg:w-1/12">
          <div class="flex flex-col space-y-2">
            <span class="tooltip" data-tip="<%= human_date(@start_at - 1.day) %>">
              <%= link_to map_path(start_at: @start_at - 1.day, end_at: @end_at - 1.day, import_id: params[:import_id]), class: "btn border border-base-300 hover:btn-ghost w-full" do %>
                <%= icon 'chevron-left' %>
              <% end %>
            </span>
          </div>
        </div>
        <div class="w-full lg:w-2/12 tooltip tooltip-bottom" data-tip="Start date and time">
          <%= f.datetime_local_field :start_at, include_seconds: false, class: "input input-bordered hover:cursor-pointer hover:input-primary w-full", value: @start_at %>
        </div>
        <div class="w-full lg:w-2/12 tooltip tooltip-bottom" data-tip="End date and time">
          <%= f.datetime_local_field :end_at, include_seconds: false, class: "input input-bordered hover:cursor-pointer hover:input-primary w-full", value: @end_at %>
        </div>
        <div class="w-full lg:w-1/12">
          <div class="flex flex-col space-y-2">
            <span class="tooltip" data-tip="<%= human_date(@start_at + 1.day) %>">
              <%= link_to map_path(start_at: @start_at + 1.day, end_at: @end_at + 1.day, import_id: params[:import_id]), class: "btn border border-base-300 hover:btn-ghost w-full" do %>
                <%= icon 'chevron-right' %>
              <% end %>
            </span>
          </div>
        </div>
        <div class="w-full lg:w-1/12">
          <div class="flex flex-col space-y-2">
            <%= f.submit "Search", class: "btn btn-primary hover:btn-info w-full" %>
          </div>
        </div>
        <div class="w-full lg:w-1/12">
          <div class="flex flex-col space-y-2 text-center">
            <%= link_to "Today",
              map_path(start_at: Time.current.beginning_of_day, end_at: Time.current.end_of_day, import_id: params[:import_id]),
              class: "btn border border-base-300 hover:btn-ghost w-full" %>
          </div>
        </div>
        <div class="w-full lg:w-2/12">
          <div class="flex flex-col space-y-2 text-center">
            <%= link_to "Last 7 days", map_path(start_at: 1.week.ago.beginning_of_day, end_at: Time.current.end_of_day, import_id: params[:import_id]), class: "btn border border-base-300 hover:btn-ghost w-full" %>
          </div>
        </div>
        <div class="w-full lg:w-2/12">
          <div class="flex flex-col space-y-2 text-center">
            <%= link_to "Last month", map_path(start_at: 1.month.ago.beginning_of_day, end_at: Time.current.end_of_day, import_id: params[:import_id]), class: "btn border border-base-300 hover:btn-ghost w-full" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>

<!-- Map Engine Toggle Button -->
<div class="fixed top-24 right-4 z-50">
  <% if use_maplibre %>
    <%= link_to map_path(maplibre: 'false'), class: "btn btn-sm btn-primary shadow-lg" do %>
      <span class="text-xs">Switch to Leaflet</span>
    <% end %>
  <% else %>
    <%= link_to map_path(maplibre: 'true'), class: "btn btn-sm btn-primary shadow-lg" do %>
      <span class="text-xs">Switch to MapLibre</span>
    <% end %>
  <% end %>
</div>

<!-- Full Screen Map -->
<div
  id='map'
  class="absolute inset-0 w-full h-full z-0"
  data-controller="<%= use_maplibre ? 'maplibre' : 'maps' %> points add-visit family-members"
  data-points-target="map"
  data-api_key="<%= current_user.api_key %>"
  data-self_hosted="<%= @self_hosted %>"
  data-user_settings='<%= current_user.safe_settings.settings.to_json %>'
  data-user_theme="<%= current_user&.theme || 'dark' %>"
  data-coordinates='<%= @coordinates.to_json.html_safe %>'
  data-tracks='<%= @tracks.to_json.html_safe %>'
  data-distance="<%= @distance %>"
  data-points_number="<%= @points_number %>"
  data-timezone="<%= Rails.configuration.time_zone %>"
  data-features='<%= @features.to_json.html_safe %>'
  data-family-members-features-value='<%= @features.to_json.html_safe %>'
  data-family-members-user-theme-value="<%= current_user&.theme || 'dark' %>">
  <div data-<%= use_maplibre ? 'maplibre' : 'maps' %>-target="container" class="w-full h-full">
    <% unless use_maplibre %>
      <div id="fog" class="fog"></div>
    <% end %>
  </div>
</div>

<%= render 'map/settings_modals' %>
