<div class='w-4/5 mt-10'>
  <div class="flex flex-col space-y-4 mb-4 w-full">
    <%= form_with url: map_path, method: :get do |f| %>
      <div class="flex flex-col md:flex-row md:space-x-4 md:items-end">
        <div class="w-full md:w-2/12">
          <div class="flex flex-col space-y-2">
            <%= f.label :start_at, class: "text-sm font-semibold" %>
            <%= f.datetime_local_field :start_at, class: "rounded-md w-full", value: @start_at %>
          </div>
        </div>
        <div class="w-full md:w-2/12">
          <div class="flex flex-col space-y-2">
            <%= f.label :end_at, class: "text-sm font-semibold" %>
            <%= f.datetime_local_field :end_at, class: "rounded-md w-full", value: @end_at %>
          </div>
        </div>
        <div class="w-full md:w-2/12">
          <div class="flex flex-col space-y-2">
            <%= f.submit "Search", class: "px-4 py-2 bg-blue-500 text-white rounded-md" %>
          </div>
        </div>
        <div class="w-full md:w-2/12">
          <div class="flex flex-col space-y-2 text-center">
            <%= link_to "Today", map_path(start_at: Time.current.beginning_of_day, end_at: Time.current.end_of_day), class: "px-4 py-2 bg-blue-500 text-white rounded-md" %>
          </div>
        </div>
        <div class="w-full md:w-2/12">
          <div class="flex flex-col space-y-2 text-center">
            <%= link_to "Yesterday", map_path(start_at: Date.yesterday.beginning_of_day, end_at: Date.yesterday.end_of_day), class: "px-4 py-2 bg-blue-500 text-white rounded-md" %>
          </div>
        </div>
        <div class="w-full md:w-2/12">
          <div class="flex flex-col space-y-2 text-center">
            <%= link_to "Last 7 days", map_path(start_at: 1.week.ago.beginning_of_day, end_at: Time.current.end_of_day), class: "px-4 py-2 bg-blue-500 text-white rounded-md" %>
          </div>
        </div>
      </div>
    <% end %>

    <div role="alert" class="alert alert-warning">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
      <span>Warning: Starting release 0.4.0 it's HIGHLY RECOMMENDED to switch from <code>/api/v1/points</code> to <code>/api/v1/owntracks/points</code> API endpoint. Please read more at <a href="https://github.com/Freika/dawarich/releases/tag/0.4.0" class='underline hover:no-underline'>0.4.0 release notes</a></span>
    </div>

    <div
      class="w-full"
      data-controller="maps"
      data-coordinates="<%= @coordinates %>"
      data-center="<%= MAP_CENTER %>"
      data-timezone="<%= Rails.configuration.time_zone %>">
      <div data-maps-target="container" class="h-[25rem] w-auto min-h-screen"></div>
    </div>
  </div>

</div>
<div class='w-1/5 mt-10'>
  <%= render 'shared/right_sidebar' %>
</div>


