<% content_for :title, "Exports" %>

<div class="w-full my-5">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Exports</h1>
  </div>

  <div id="exports" class="min-w-full">
    <% if @exports.empty? %>
      <div class="hero min-h-80 bg-base-200 my-5">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Hello there!</h1>
            <p class="py-6">
              Here you'll find your exports, created on <%= link_to 'Points', points_url, class: 'link' %> page. But now there are none.
            </p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="flex justify-center my-5">
        <%= paginate @exports %>
      </div>
      <div class="overflow-x-auto">
        <table class="table table-zebra overflow-x-auto">
          <thead>
            <tr>
              <th><%= sortable_column 'Name', :name, :exports_path %></th>
              <th><%= sortable_column 'File size', :byte_size, :exports_path %></th>
              <th><%= sortable_column 'Status', :status, :exports_path %></th>
              <th><%= sortable_column 'Created at', :created_at, :exports_path %></th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @exports.each do |export| %>
              <%= render 'exports/table_row', export: export %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="flex justify-center my-5">
        <%= paginate @exports %>
      </div>
    <% end %>
  </div>
</div>
