<!DOCTYPE html>
<html data-theme="<%= app_theme %>" data-self-hosted="<%= @self_hosted %>">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://unpkg.com" crossorigin>
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% if ENV['POSTHOG_ENABLED'] == 'true' %>
      <%= javascript_include_tag "posthog", "data-turbo-track": "reload" %>
    <% end %>
    <%= javascript_importmap_tags %>
    <%= yield :head_scripts %>
    <%= javascript_include_tag "https://unpkg.com/protomaps-leaflet@5.0.0/dist/protomaps-leaflet.js", defer: true %>

    <%= render 'application/favicon' %>
    <%= Sentry.get_trace_propagation_meta.html_safe if Sentry.initialized? %>
    <% if !DawarichSettings.self_hosted? %>
      <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <% end %>
  </head>

  <body class='min-h-screen'>
    <div class='container mx-auto'>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flash' %>
      <div class="flex flex-row gap-5 w-full px-5">
        <%= yield %>
      </div>
      <%= render SELF_HOSTED ? 'shared/footer' : 'shared/legal_footer' %>
    </div>

    <%= render 'map/onboarding_modal' %>

    <% if user_signed_in? && current_user.settings['timezone'].blank? %>
      <div data-controller="timezone-detection"
           data-timezone-detection-user-timezone-value="<%= current_user.settings['timezone'] %>"
           data-timezone-detection-update-path-value="<%= settings_general_path(format: :json) %>"
           class="hidden">
      </div>
    <% end %>
  </body>
</html>
