<!DOCTYPE html>
<html data-theme="lofi">
  <head>
    <title>SoloCustomerTemplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--link href="https://cdn.jsdelivr.net/npm/daisyui@2.13.0/dist/full.css" rel="stylesheet" type="text/css" /-->

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class='container mx-auto'>
      <%= render 'shared/navbar' %>
      <%= yield %>
    </div>
  </body>
</html>
